{% extends "base.html" %}

{% block header %}
    <div id="header">
      <span class="btn1 anlink" style="float: left;"><a href="{{ (url_for('index')) }}" class="btn1 anlink"> <i class="fa fa-home"></i> Home </a></span>
      <span id="siteName">BiblioAppy</span>
      <a href="{{ url_for('logout') }}" id="acrossLogout" class="btn btn-lg"><span class="glyphicon glyphicon-log-out"></span> Sign Out </a>
    </div>
{% endblock %}

{% block content %}

    <div class="dashboardContent">
        <form action="" method="post">
            <input autofocus type="search" name="result" placeholder="Search for books by author, title, or isbn.">
            <button type="submit" class="btn2"> <i class="fa fa-search"></i> </button>
        </form>
 
    </div>    
{% endblock %}