<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <h1>SIGN IN</h1>
            <form action="" method="post">
                <label>USERNAME:</label>
                <input type="text" name="username" placeholder="Enter Username" required><br><br>
                
                <label>EMAIL:</label>
                <input type="email" name="email" placeholder="Enter Email Address" required><br><br>
                
                <label>PASSWORD:</label>
                <input type="password" name="password" placeholder="........" required>
                
                <label>EMAIL CONFIRMATION:</label>
                <input type="text" name="username" placeholder="Enter Username" required><br><br>
                
                <input type="submit" value="Submit">
            </form>
            
            <p> Already Have An Account? <a href="{{ url_for('login') }}">Click to Sign In!</a></p>
            
        </div>
    </body>
</html>
